.searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1%;
  justify-content: center;
}

.searchbar_buttons {
  margin-top: 5%;
  justify-content: center;
}

.card {
  width: 15%;
}

.movie_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

Moviebox {
  padding: 20%;
}

.sidemenu {
  height: auto;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.filternav {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}
