.App {
  text-align: center;
}

.searchbar {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.searchbar_buttons {
  justify-content: space-around;
}

.card {
  width: 15%;
}
